<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" version="3.0">
  
  <filter>
		<filter-name>FilterLet</filter-name>
		<filter-class>com.servlet.FilterLet</filter-class>
		<init-param>
			<param-name>encoding</param-name>
			<param-value>UTF-8</param-value>
		</init-param>
	</filter>
	<filter-mapping>
		<filter-name>FilterLet</filter-name>
		<url-pattern>/*</url-pattern>
	</filter-mapping>
  
  
  
  <servlet>
    <servlet-name>LogLet</servlet-name>
    <servlet-class>com.servlet.LogLet</servlet-class>
  </servlet>
  
  <servlet>
    <servlet-name>ModifyLet</servlet-name>
    <servlet-class>com.servlet.ModifyLet</servlet-class>
  </servlet>
    <servlet>
    <servlet-name>GetMyexchangeLet</servlet-name>
    <servlet-class>com.servlet.GetMyexchangeLet</servlet-class>
  </servlet>
   <servlet>
    <servlet-name>GetMyapplyLet</servlet-name>
    <servlet-class>com.servlet.GetMyapplyLet</servlet-class>
  </servlet>   
  <servlet>
    <servlet-name>GetMyfixLet</servlet-name>
    <servlet-class>com.servlet.GetMyfixLet</servlet-class>
  </servlet>
    <servlet>
    <servlet-name>GetMylostLet</servlet-name>
    <servlet-class>com.servlet.GetMylostLet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>SignlateLet</servlet-name>
    <servlet-class>com.servlet.SignlateLet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>CallStayLet</servlet-name>
    <servlet-class>com.servlet.CallStayLet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>CallLostLet</servlet-name>
    <servlet-class>com.servlet.CallLostLet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>GetLostInfoLet</servlet-name>
    <servlet-class>com.servlet.GetLostInfoLet</servlet-class>
  </servlet>
    <servlet>
    <servlet-name>CallfixLet</servlet-name>
    <servlet-class>com.servlet.CallfixLet</servlet-class>
  </servlet>
   <servlet>
    <servlet-name>ExchangeApplyLet</servlet-name>
    <servlet-class>com.servlet.ExchangeApplyLet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>FeedbackLet</servlet-name>
    <servlet-class>com.servlet.FeedbackLet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>GetRoomLet</servlet-name>
    <servlet-class>com.servlet.GetRoomLet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>getOldIfoLet</servlet-name>
    <servlet-class>com.servlet.getOldIfoLet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>GetAnnounceLet</servlet-name>
    <servlet-class>com.servlet.GetAnnounceLet</servlet-class>
  </servlet>
	<servlet>
		<servlet-name>RegLet</servlet-name>
		<servlet-class>com.servlet.RegLet</servlet-class>
	</servlet>
  
  
  <servlet-mapping>
    <servlet-name>LogLet</servlet-name>
    <url-pattern>/LogLet</url-pattern>
  </servlet-mapping>
   <servlet-mapping>
    <servlet-name>ModifyLet</servlet-name>
    <url-pattern>/ModifyLet</url-pattern>
  </servlet-mapping>
    <servlet-mapping>
    <servlet-name>GetMyexchangeLet</servlet-name>
    <url-pattern>/GetMyexchangeLet</url-pattern>
  </servlet-mapping>
    <servlet-mapping>
    <servlet-name>GetMyapplyLet</servlet-name>
    <url-pattern>/GetMyapplyLet</url-pattern>
  </servlet-mapping>
    <servlet-mapping>
    <servlet-name>GetMyfixLet</servlet-name>
    <url-pattern>/GetMyfixLet</url-pattern>
  </servlet-mapping>
    <servlet-mapping>
    <servlet-name>GetMylostLet</servlet-name>
    <url-pattern>/GetMylostLet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>SignlateLet</servlet-name>
    <url-pattern>/SignlateLet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>CallStayLet</servlet-name>
    <url-pattern>/CallStayLet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>CallLostLet</servlet-name>
    <url-pattern>/CallLostLet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>GetLostInfoLet</servlet-name>
    <url-pattern>/GetLostInfoLet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>CallfixLet</servlet-name>
    <url-pattern>/CallfixLet</url-pattern>
  </servlet-mapping>
    <servlet-mapping>
    <servlet-name>ExchangeApplyLet</servlet-name>
    <url-pattern>/ExchangeApplyLet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>FeedbackLet</servlet-name>
    <url-pattern>/FeedbackLet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>GetRoomLet</servlet-name>
    <url-pattern>/GetRoomLet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>getOldIfoLet</servlet-name>
    <url-pattern>/getOldIfoLet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>GetAnnounceLet</servlet-name>
    <url-pattern>/GetAnnounceLet</url-pattern>
  </servlet-mapping>
	<servlet-mapping>
		<servlet-name>RegLet</servlet-name>
		<url-pattern>/RegLet</url-pattern>
	</servlet-mapping>
  
  
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
  </welcome-file-list>
</web-app>